/* GLOBAL */
/*  */
:root{
  --darkColor:#000;
  --lightColor: #fff;
  --primaryColor: #5f506b;
  --secondaryColor: #76949f;
  --accentPrimColor:#6a6b83;
  --accentSecColor:#86bbbd;

  --defaultSpacing: 1.6rem;

  --defaultFontFamily:"Roboto";
  --headingFontFamily:"Bebas Neue";
}

html{
  font-size: 10px;
  /* må stå px for den bestemme relasjonen med em og rem */
}
/* Standard size er 16px font size. 16px er det samme som 1em, men nå er det blitt 10px pga det ovenfor  */
body {
  margin: 0;
    /* border, padding og margin er en av de få stedene der en bruker px for estetisk endring */
  font-size: var(--defaultSpacing);  /* (16px) */
  padding: 1.6rem;
font-family: var(--defaultFontFamily) ;
color: var(--darkColor);
}

h1,h2,h3 {
  font-family: "Bebas Neue";
}

img {
  width: 20rem;/* (200px) */
  height: 20rem;/* (200px) */
  background-color: var(--primaryColor);
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background-color: var(--lightColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  padding: 0;
    /* border, padding og margin er en av de få stedene der en bruker px for estetisk endring */
  margin: 0;
    /* border, padding og margin er en av de få stedene der en bruker px for estetisk endring */
  gap: 1.6rem;/* (16px) */
  list-style-type: none;
}

.navList a{
  text-decoration: none;
  cursor: pointer;
  color: var(--secondaryColor);
}

.navList a:hover{
  text-decoration: underline;
  color: var(--accentSecColor);
}

.hamburgerIcon{
  height: 3.2rem;
  width: 3.2rem;
  display: none;
  background-color: initial;
}

/* MAIN */
/* Hero */
.hero {
  height: 100dvh;
  /* dvh er dynamic view height, funker bedre for laptop og mobil/nettbrett skjermer enn bare vh(fast view height) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightColor);
}

.heroIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;/* (16px) */
}

.heroText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroImg {
  width: 100%;
}

/* About */
.about {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--lightColor);
}

.aboutTextContainer,
.aboutImgContainer {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutText {
  width: 30rem;
}

.aboutImg {
  width: 100%;
}

.aboutImgText {
  font-size: 1.2rem;
  font-style: italic;
  margin: 6px;
    /* border, padding og margin er en av de få stedene der en bruker px for estetisk endring */
}

/* Projects */
.projects {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.projectsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  list-style-type: none;
  padding: 0;
    /* border, padding og margin er en av de få stedene der en bruker px for estetisk endring */
}

.projectCard {
  /* height: 40rem;kort bruker ofte en absolutt px størrelse istedet for rem */
  width: 30rem;
  border: 2px var(--darkColor);
  /* border, padding og margin er en av de få stedene der en bruker px for estetisk endring */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: bold;
}

/* MEDIA QUERY(betingelser på hvordan ting skal skje hvis skjermen er anderledes(f.eks på mobil) */
@media (max-width: 426px){
  /* max-width på 426px fordi det er max bredde på normal mobil */

  .headerNav{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .heroIntro{
  flex-direction: column;}

  .navList{
    display: none;
  }

  .navHamburgerList{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }

  .hamburgerIcon{
    display: inline;
  }

.about{
  flex-direction: column;
}
.projectsList{
  flex-direction: column;
}

}